/*! 8_point */
.m_0 > * {margin:0}
.m_1 > * {margin:.5rem}
.m_2 > * {margin:1rem}
.m_3 > * {margin:1.5rem}
.m_4 > * {margin:2rem}
.m_5 > * {margin:2.5rem}
.m_6 > * {margin:3rem}
.m_7 > * {margin:3.5rem}
.m_8 > * {margin:4rem}
.my_0 > * {margin-top:0;margin-bottom:0}
.my_1 > * {margin-top:.5rem;margin-bottom:.5rem}
.my_2 > * {margin-top:1rem;margin-bottom:1rem}
.my_3 > * {margin-top:1.5rem;margin-bottom:1.5rem}
.my_4 > * {margin-top:2rem;margin-bottom:2rem}
.my_5 > * {margin-top:2.5rem;margin-bottom:2.5rem}
.my_6 > * {margin-top:3rem;margin-bottom:3rem}
.my_7 > * {margin-top:3.5rem;margin-bottom:3.5rem}
.my_8 > * {margin-top:4rem;margin-bottom:4rem}
.mx_0 > * {margin-right:0;margin-left:0}
.mx_1 > * {margin-right:.5rem;margin-left:.5rem}
.mx_2 > * {margin-right:1rem;margin-left:1rem}
.mx_3 > * {margin-right:1.5rem;margin-left:1.5rem}
.mx_4 > * {margin-right:2rem;margin-left:2rem}
.mx_5 > * {margin-right:2.5rem;margin-left:2.5rem}
.mx_6 > * {margin-right:3rem;margin-left:3rem}
.mx_7 > * {margin-right:3.5rem;margin-left:3.5rem}
.mx_8 > * {margin-right:4rem;margin-left:4rem}
.mt_0 > * {margin-top:0}
.mt_1 > * {margin-top:.5rem}
.mt_2 > * {margin-top:1rem}
.mt_3 > * {margin-top:1.5rem}
.mt_4 > * {margin-top:2rem}
.mt_5 > * {margin-top:2.5rem}
.mt_6 > * {margin-top:3rem}
.mt_7 > * {margin-top:3.5rem}
.mt_8 > * {margin-top:4rem}
.mr_0 > * {margin-right:0}
.mr_1 > * {margin-right:.5rem}
.mr_2 > * {margin-right:1rem}
.mr_3 > * {margin-right:1.5rem}
.mr_4 > * {margin-right:2rem}
.mr_5 > * {margin-right:2.5rem}
.mr_6 > * {margin-right:3rem}
.mr_7 > * {margin-right:3.5rem}
.mr_8 > * {margin-right:4rem}
.mb_0 > * {margin-bottom:0}
.mb_1 > * {margin-bottom:.5rem}
.mb_2 > * {margin-bottom:1rem}
.mb_3 > * {margin-bottom:1.5rem}
.mb_4 > * {margin-bottom:2rem}
.mb_5 > * {margin-bottom:2.5rem}
.mb_6 > * {margin-bottom:3rem}
.mb_7 > * {margin-bottom:3.5rem}
.mb_8 > * {margin-bottom:4rem}
.ml_0 > * {margin-left:0}
.ml_1 > * {margin-left:.5rem}
.ml_2 > * {margin-left:1rem}
.ml_3 > * {margin-left:1.5rem}
.ml_4 > * {margin-left:2rem}
.ml_5 > * {margin-left:2.5rem}
.ml_6 > * {margin-left:3rem}
.ml_7 > * {margin-left:3.5rem}
.ml_8 > * {margin-left:4rem}
.p_0 > * {padding:0}
.p_1 > * {padding:.5rem}
.p_2 > * {padding:1rem}
.p_3 > * {padding:1.5rem}
.p_4 > * {padding:2rem}
.p_5 > * {padding:2.5rem}
.p_6 > * {padding:3rem}
.p_7 > * {padding:3.5rem}
.p_8 > * {padding:4rem}
.py_0 > * {padding-top:0;padding-bottom:0}
.py_1 > * {padding-top:.5rem;padding-bottom:.5rem}
.py_2 > * {padding-top:1rem;padding-bottom:1rem}
.py_3 > * {padding-top:1.5rem;padding-bottom:1.5rem}
.py_4 > * {padding-top:2rem;padding-bottom:2rem}
.py_5 > * {padding-top:2.5rem;padding-bottom:2.5rem}
.py_6 > * {padding-top:3rem;padding-bottom:3rem}
.py_7 > * {padding-top:3.5rem;padding-bottom:3.5rem}
.py_8 > * {padding-top:4rem;padding-bottom:4rem}
.px_0 > * {padding-right:0;padding-left:0}
.px_1 > * {padding-right:.5rem;padding-left:.5rem}
.px_2 > * {padding-right:1rem;padding-left:1rem}
.px_3 > * {padding-right:1.5rem;padding-left:1.5rem}
.px_4 > * {padding-right:2rem;padding-left:2rem}
.px_5 > * {padding-right:2.5rem;padding-left:2.5rem}
.px_6 > * {padding-right:3rem;padding-left:3rem}
.px_7 > * {padding-right:3.5rem;padding-left:3.5rem}
.px_8 > * {padding-right:4rem;padding-left:4rem}
.pt_0 > * {padding-top:0}
.pt_1 > * {padding-top:.5rem}
.pt_2 > * {padding-top:1rem}
.pt_3 > * {padding-top:1.5rem}
.pt_4 > * {padding-top:2rem}
.pt_5 > * {padding-top:2.5rem}
.pt_6 > * {padding-top:3rem}
.pt_7 > * {padding-top:3.5rem}
.pt_8 > * {padding-top:4rem}
.pr_0 > * {padding-right:0}
.pr_1 > * {padding-right:.5rem}
.pr_2 > * {padding-right:1rem}
.pr_3 > * {padding-right:1.5rem}
.pr_4 > * {padding-right:2rem}
.pr_5 > * {padding-right:2.5rem}
.pr_6 > * {padding-right:3rem}
.pr_7 > * {padding-right:3.5rem}
.pr_8 > * {padding-right:4rem}
.pb_0 > * {padding-bottom:0}
.pb_1 > * {padding-bottom:.5rem}
.pb_2 > * {padding-bottom:1rem}
.pb_3 > * {padding-bottom:1.5rem}
.pb_4 > * {padding-bottom:2rem}
.pb_5 > * {padding-bottom:2.5rem}
.pb_6 > * {padding-bottom:3rem}
.pb_7 > * {padding-bottom:3.5rem}
.pb_8 > * {padding-bottom:4rem}
.pl_0 > * {padding-left:0}
.pl_1 > * {padding-left:.5rem}
.pl_2 > * {padding-left:1rem}
.pl_3 > * {padding-left:1.5rem}
.pl_4 > * {padding-left:2rem}
.pl_5 > * {padding-left:2.5rem}
.pl_6 > * {padding-left:3rem}
.pl_7 > * {padding-left:3.5rem}
.pl_8 > * {padding-left:4rem}
.t_0 > * {top:0}
.t_1 > * {top:.5rem}
.t_2 > * {top:1rem}
.t_3 > * {top:1.5rem}
.t_4 > * {top:2rem}
.t_5 > * {top:2.5rem}
.t_6 > * {top:3rem}
.t_7 > * {top:3.5rem}
.t_8 > * {top:4rem}
.r_0 > * {right:0}
.r_1 > * {right:.5rem}
.r_2 > * {right:1rem}
.r_3 > * {right:1.5rem}
.r_4 > * {right:2rem}
.r_5 > * {right:2.5rem}
.r_6 > * {right:3rem}
.r_7 > * {right:3.5rem}
.r_8 > * {right:4rem}
.b_0 > * {bottom:0}
.b_1 > * {bottom:.5rem}
.b_2 > * {bottom:1rem}
.b_3 > * {bottom:1.5rem}
.b_4 > * {bottom:2rem}
.b_5 > * {bottom:2.5rem}
.b_6 > * {bottom:3rem}
.b_7 > * {bottom:3.5rem}
.b_8 > * {bottom:4rem}
.l_0 > * {left:0}
.l_1 > * {left:.5rem}
.l_2 > * {left:1rem}
.l_3 > * {left:1.5rem}
.l_4 > * {left:2rem}
.l_5 > * {left:2.5rem}
.l_6 > * {left:3rem}
.l_7 > * {left:3.5rem}
.l_8 > * {left:4rem}
.s_1 > * {width:.5rem;height:.5rem}
.s_2 > * {width:1rem;height:1rem}
.s_3 > * {width:1.5rem;height:1.5rem}
.s_4 > * {width:2rem;height:2rem}
.s_5 > * {width:2.5rem;height:2.5rem}
.s_6 > * {width:3rem;height:3rem}
.s_7 > * {width:3.5rem;height:3.5rem}
.s_8 > * {width:4rem;height:4rem}
.w_1 > * {width:.5rem}
.w_2 > * {width:1rem}
.w_3 > * {width:1.5rem}
.w_4 > * {width:2rem}
.w_5 > * {width:2.5rem}
.w_6 > * {width:3rem}
.w_7 > * {width:3.5rem}
.w_8 > * {width:4rem}
.h_1 > * {height:.5rem}
.h_2 > * {height:1rem}
.h_3 > * {height:1.5rem}
.h_4 > * {height:2rem}
.h_5 > * {height:2.5rem}
.h_6 > * {height:3rem}
.h_7 > * {height:3.5rem}
.h_8 > * {height:4rem}
