/*! rem-point */
.m-0\!{margin:0 !important }
.m-1\!{margin:.5rem !important }
.m-2\!{margin:1rem !important }
.m-3\!{margin:1.5rem !important }
.m-4\!{margin:2rem !important }
.m-5\!{margin:2.5rem !important }
.m-6\!{margin:3rem !important }
.m-7\!{margin:3.5rem !important }
.m-8\!{margin:4rem !important }
.my-0\!{margin-top:0;margin-bottom:0 !important }
.my-1\!{margin-top:.5rem;margin-bottom:.5rem !important }
.my-2\!{margin-top:1rem;margin-bottom:1rem !important }
.my-3\!{margin-top:1.5rem;margin-bottom:1.5rem !important }
.my-4\!{margin-top:2rem;margin-bottom:2rem !important }
.my-5\!{margin-top:2.5rem;margin-bottom:2.5rem !important }
.my-6\!{margin-top:3rem;margin-bottom:3rem !important }
.my-7\!{margin-top:3.5rem;margin-bottom:3.5rem !important }
.my-8\!{margin-top:4rem;margin-bottom:4rem !important }
.mx-0\!{margin-right:0;margin-left:0 !important }
.mx-1\!{margin-right:.5rem;margin-left:.5rem !important }
.mx-2\!{margin-right:1rem;margin-left:1rem !important }
.mx-3\!{margin-right:1.5rem;margin-left:1.5rem !important }
.mx-4\!{margin-right:2rem;margin-left:2rem !important }
.mx-5\!{margin-right:2.5rem;margin-left:2.5rem !important }
.mx-6\!{margin-right:3rem;margin-left:3rem !important }
.mx-7\!{margin-right:3.5rem;margin-left:3.5rem !important }
.mx-8\!{margin-right:4rem;margin-left:4rem !important }
.mt-0\!{margin-top:0 !important }
.mt-1\!{margin-top:.5rem !important }
.mt-2\!{margin-top:1rem !important }
.mt-3\!{margin-top:1.5rem !important }
.mt-4\!{margin-top:2rem !important }
.mt-5\!{margin-top:2.5rem !important }
.mt-6\!{margin-top:3rem !important }
.mt-7\!{margin-top:3.5rem !important }
.mt-8\!{margin-top:4rem !important }
.mr-0\!{margin-right:0 !important }
.mr-1\!{margin-right:.5rem !important }
.mr-2\!{margin-right:1rem !important }
.mr-3\!{margin-right:1.5rem !important }
.mr-4\!{margin-right:2rem !important }
.mr-5\!{margin-right:2.5rem !important }
.mr-6\!{margin-right:3rem !important }
.mr-7\!{margin-right:3.5rem !important }
.mr-8\!{margin-right:4rem !important }
.mb-0\!{margin-bottom:0 !important }
.mb-1\!{margin-bottom:.5rem !important }
.mb-2\!{margin-bottom:1rem !important }
.mb-3\!{margin-bottom:1.5rem !important }
.mb-4\!{margin-bottom:2rem !important }
.mb-5\!{margin-bottom:2.5rem !important }
.mb-6\!{margin-bottom:3rem !important }
.mb-7\!{margin-bottom:3.5rem !important }
.mb-8\!{margin-bottom:4rem !important }
.ml-0\!{margin-left:0 !important }
.ml-1\!{margin-left:.5rem !important }
.ml-2\!{margin-left:1rem !important }
.ml-3\!{margin-left:1.5rem !important }
.ml-4\!{margin-left:2rem !important }
.ml-5\!{margin-left:2.5rem !important }
.ml-6\!{margin-left:3rem !important }
.ml-7\!{margin-left:3.5rem !important }
.ml-8\!{margin-left:4rem !important }
.p-0\!{padding:0 !important }
.p-1\!{padding:.5rem !important }
.p-2\!{padding:1rem !important }
.p-3\!{padding:1.5rem !important }
.p-4\!{padding:2rem !important }
.p-5\!{padding:2.5rem !important }
.p-6\!{padding:3rem !important }
.p-7\!{padding:3.5rem !important }
.p-8\!{padding:4rem !important }
.py-0\!{padding-top:0;padding-bottom:0 !important }
.py-1\!{padding-top:.5rem;padding-bottom:.5rem !important }
.py-2\!{padding-top:1rem;padding-bottom:1rem !important }
.py-3\!{padding-top:1.5rem;padding-bottom:1.5rem !important }
.py-4\!{padding-top:2rem;padding-bottom:2rem !important }
.py-5\!{padding-top:2.5rem;padding-bottom:2.5rem !important }
.py-6\!{padding-top:3rem;padding-bottom:3rem !important }
.py-7\!{padding-top:3.5rem;padding-bottom:3.5rem !important }
.py-8\!{padding-top:4rem;padding-bottom:4rem !important }
.px-0\!{padding-right:0;padding-left:0 !important }
.px-1\!{padding-right:.5rem;padding-left:.5rem !important }
.px-2\!{padding-right:1rem;padding-left:1rem !important }
.px-3\!{padding-right:1.5rem;padding-left:1.5rem !important }
.px-4\!{padding-right:2rem;padding-left:2rem !important }
.px-5\!{padding-right:2.5rem;padding-left:2.5rem !important }
.px-6\!{padding-right:3rem;padding-left:3rem !important }
.px-7\!{padding-right:3.5rem;padding-left:3.5rem !important }
.px-8\!{padding-right:4rem;padding-left:4rem !important }
.pt-0\!{padding-top:0 !important }
.pt-1\!{padding-top:.5rem !important }
.pt-2\!{padding-top:1rem !important }
.pt-3\!{padding-top:1.5rem !important }
.pt-4\!{padding-top:2rem !important }
.pt-5\!{padding-top:2.5rem !important }
.pt-6\!{padding-top:3rem !important }
.pt-7\!{padding-top:3.5rem !important }
.pt-8\!{padding-top:4rem !important }
.pr-0\!{padding-right:0 !important }
.pr-1\!{padding-right:.5rem !important }
.pr-2\!{padding-right:1rem !important }
.pr-3\!{padding-right:1.5rem !important }
.pr-4\!{padding-right:2rem !important }
.pr-5\!{padding-right:2.5rem !important }
.pr-6\!{padding-right:3rem !important }
.pr-7\!{padding-right:3.5rem !important }
.pr-8\!{padding-right:4rem !important }
.pb-0\!{padding-bottom:0 !important }
.pb-1\!{padding-bottom:.5rem !important }
.pb-2\!{padding-bottom:1rem !important }
.pb-3\!{padding-bottom:1.5rem !important }
.pb-4\!{padding-bottom:2rem !important }
.pb-5\!{padding-bottom:2.5rem !important }
.pb-6\!{padding-bottom:3rem !important }
.pb-7\!{padding-bottom:3.5rem !important }
.pb-8\!{padding-bottom:4rem !important }
.pl-0\!{padding-left:0 !important }
.pl-1\!{padding-left:.5rem !important }
.pl-2\!{padding-left:1rem !important }
.pl-3\!{padding-left:1.5rem !important }
.pl-4\!{padding-left:2rem !important }
.pl-5\!{padding-left:2.5rem !important }
.pl-6\!{padding-left:3rem !important }
.pl-7\!{padding-left:3.5rem !important }
.pl-8\!{padding-left:4rem !important }
.t-0\!{top:0 !important }
.t-1\!{top:.5rem !important }
.t-2\!{top:1rem !important }
.t-3\!{top:1.5rem !important }
.t-4\!{top:2rem !important }
.t-5\!{top:2.5rem !important }
.t-6\!{top:3rem !important }
.t-7\!{top:3.5rem !important }
.t-8\!{top:4rem !important }
.r-0\!{right:0 !important }
.r-1\!{right:.5rem !important }
.r-2\!{right:1rem !important }
.r-3\!{right:1.5rem !important }
.r-4\!{right:2rem !important }
.r-5\!{right:2.5rem !important }
.r-6\!{right:3rem !important }
.r-7\!{right:3.5rem !important }
.r-8\!{right:4rem !important }
.b-0\!{bottom:0 !important }
.b-1\!{bottom:.5rem !important }
.b-2\!{bottom:1rem !important }
.b-3\!{bottom:1.5rem !important }
.b-4\!{bottom:2rem !important }
.b-5\!{bottom:2.5rem !important }
.b-6\!{bottom:3rem !important }
.b-7\!{bottom:3.5rem !important }
.b-8\!{bottom:4rem !important }
.l-0\!{left:0 !important }
.l-1\!{left:.5rem !important }
.l-2\!{left:1rem !important }
.l-3\!{left:1.5rem !important }
.l-4\!{left:2rem !important }
.l-5\!{left:2.5rem !important }
.l-6\!{left:3rem !important }
.l-7\!{left:3.5rem !important }
.l-8\!{left:4rem !important }
.s-1\!{width:.5rem;height:.5rem !important }
.s-2\!{width:1rem;height:1rem !important }
.s-3\!{width:1.5rem;height:1.5rem !important }
.s-4\!{width:2rem;height:2rem !important }
.s-5\!{width:2.5rem;height:2.5rem !important }
.s-6\!{width:3rem;height:3rem !important }
.s-7\!{width:3.5rem;height:3.5rem !important }
.s-8\!{width:4rem;height:4rem !important }
.w-1\!{width:.5rem !important }
.w-2\!{width:1rem !important }
.w-3\!{width:1.5rem !important }
.w-4\!{width:2rem !important }
.w-5\!{width:2.5rem !important }
.w-6\!{width:3rem !important }
.w-7\!{width:3.5rem !important }
.w-8\!{width:4rem !important }
.h-1\!{height:.5rem !important }
.h-2\!{height:1rem !important }
.h-3\!{height:1.5rem !important }
.h-4\!{height:2rem !important }
.h-5\!{height:2.5rem !important }
.h-6\!{height:3rem !important }
.h-7\!{height:3.5rem !important }
.h-8\!{height:4rem !important }
